$opacity:0.4;
.container #box1{
    background-color: black;
    opacity: $opacity;
     
}
 
.container #box2{
    background-color: red;
    opacity: $opacity;
     
}
.container #box3{
    background-color: orange;
    opacity: $opacity;
    
}