 
.container #box1{
    
    background-color: rgba(0,0,0,0.3);
     
    animation: animacija1 1.5s ease-in-out   both ;
     
}
 
.container #box2{
    background-color: rgba(255,0,0,0.3);
     
    animation: animacija1 1.5s ease-in-out 1.5s both ;
     
}
.container #box3{
    background-color: rgba(248, 148, 6, 0.4);
      
    animation: animacija1 1.5s ease-in-out 3s both ;
    
}